# Cloud
*.dropbox

# NetBeans specific
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS
.DS_Store

#Binaries
*.jar
*.class

# JetBrains
.idea/
*.iml

# Java
out/
build/
